<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Job</display-name>
  <servlet>
    <servlet-name>RecruiterRegister</servlet-name>
    <servlet-class>controller.RecruiterRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterRegister</servlet-name>
    <url-pattern>/RecruiterRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecruiterLogin</servlet-name>
    <servlet-class>controller.RecruiterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterLogin</servlet-name>
    <url-pattern>/RecruiterLogin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>JobSeekerRegister.jsp</welcome-file>
    <welcome-file>JobSeekerLogin.jsp</welcome-file>
    <welcome-file>JobSeekerProfile.jsp</welcome-file>
    <welcome-file>RecruiterRegister.jsp</welcome-file>
    <welcome-file>RecruiterLogin.jsp</welcome-file>
    <welcome-file>RecruiterProfile.jsp</welcome-file>
  </welcome-file-list>
</web-app>